/* 
    Document   : lista
    Created on : 2012.02.02., 15:44:38
    Author     : gyozke
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#content {
	background-color: #79C3D2;
}
